<footer id="kontakt">
    <div class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-5 col-md-4 mb-3">
                    {{'kontakt_title'|_}}
                    <div class="mt-2">
                        <a href="mainto:{{'email'|_}}">{{'email'|_}}</a>
                    </div>
                </div>
                <div class="col-12 col-sm-5 col-md-4 mb-3">
                    {{'telefon_title'|_}}
                    <div class="mt-2">
                        <a href="tel:{{'phone_number'|_}}">{{'phone_number'|_}}</a>
                    </div>
                </div>
                <div class="col-12 col-sm-5 col-md-4 mb-3">
                    {{'adres_title'|_}}
                    <div class="mt-2">
                        <a href="{{'address_link'|_}}">{{'address'|_}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>